.background-login {
    display: flex;                     
    background-color: #d9ead3ff;      
    flex-direction: row;               
    width: 100vw;                      
    height: 100vh;                     
    justify-content: center;           
    align-items: center;     
    overflow: hidden;
}

.login-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 250px;
}

.logo {
    width: 260px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.gif_login {
    width: 600px;
    height: 600px;
}
