.profile-container {
    background-color: #d9ead3ff;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    padding: 5%;
    margin: 0%;
}

.profile-text{
    font-family: 'Courier New';
    color: #274e13;
    font-size: 40.0px;
    font-weight: bold;
    margin: 0px;
    text-align: left;
    padding: 0px;
}

.prompt-text{
    font-family: 'Courier New';
    color: #6e6e6e;
    font-size: 28.0px;
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: left;
    padding: 0px;
}

.profile-photo {
    width: 480px;
    height: 360px;
    margin-bottom: 30px;
}

.info-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: start;
    border-width: 5;
    border-style: dashed;
    border-color: black;
    width: 44%;
    padding: 1%;
}

.img-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    width: 44%;
    padding: 1%;
}

.question-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: space-between;
    border-width: 5;
    border-style: dashed;
    border-color: black;
    width: 97%;
    padding: 1%;
}

.answer-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: start;
    width: 44%;
    padding: 1%;
    margin: 1%;
}

.row {
    display: flex;
    align-items: left;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    margin-top: 0px;
}

.question-text{
    font-family: 'Courier New';
    font-weight: bold;
    color: #055134;
    font-size: 25.0px;
    text-align: left;
    text-wrap: wrap;
    margin-bottom: 3px;
    margin-top: 5px;
}

.info-text{
    font-family: 'Courier New';
    color: #595959;
    font-size: 22.0px;
    margin: 0px;
    padding: 5px;
    text-align: left;
    text-wrap: wrap;
}

.png-text{
    font-family: 'Courier New';
    color: #595959;
    font-size: 18.0px;
    margin: 0px;
    padding: 5px;
    text-align: left;
    text-wrap: wrap;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}